<h1>Hello, Friends!</h1>
<h2>Please select the below links for either Books/Author</h2>
<li><%= link_to 'Author', authors_path, class: "header" %></li>
<li><%= link_to 'Book', books_path, class: "header" %></li>
